#svg {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 100%;
	background-color: #F4F4F4;
}

#title {
	float: left;
	margin-left: 20px;
}

#left-bar {
	position: absolute;
	width: 200px;
	left: 10px;
	top: 50px;
	background-color: #ffffff;
	padding-left: 10px;
	border-radius: 5px;
}

#left-bar ul li {
	margin-left: 15px;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-right: 15px;
	list-style-type:square;
	cursor: pointer;
}

#right-bar {
	position: absolute;
	width: 200px;
	right: 10px;
	top: 50px;
	background-color: #ffffff;
	padding-left: 10px;
	border-radius: 5px;
	visibility: hidden;
}

p {
	margin: 5px;
}

#utilities {
	margin-top: 5px;
}