<div id="svg"></div>
<div id="left-bar">

<!--<p><a href=# onclick='addNode("contact9", "contact1", {"name": "Winnie the Pooh", "level":2, "BI": 2, "children":[], "team":[]})'>Add a contact node</a>
 <a href=# onclick='addTeamNode("team2", "contact4")'>Add a team contact node</a> <a href=# onclick='addTeamNode("team0", "contact8")'>Add another team contact node</a></p>
<span></span>-->
<h3>Account</h3>
<ul><li id = "id_contact0">John Kelly</li></ul>
<h3>Team</h3>
<ul><li id = "id_team0">Nick Cordrey</li></ul>
</div>