<h1>Raphael Playground</h1>
<p><a href=# onclick='addNode("contact9", "contact1", {"name": "Winnie the Pooh", "level":2, "BI": 2, "children":[], "team":[]})'>Add a contact node</a>
 <a href=# onclick='addTeamNode("team2", "contact4")'>Add a team contact node</a> <a href=# onclick='addTeamNode("team0", "contact8")'>Add another team contact node</a></p>
