<!DOCTYPE html>
<html>
<head>
  <title>rTest App</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "jquery-1.7.1", "jquery-ui-1.8.16.custom.min", "raphael", "rtest" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="page-header">
        <div class="wrapper">
            <div id="title">
			<p>rMap Playground</p>
			</div> 
            <div id="utilities">
                <div id="account-utilities">
                    <nav>                        
                        <ul>
                            <li id="user">logged in as <a href="#"><strong>John Kelly</strong></a></li>
                         
                            <li><a href="#">help</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div> <!-- eo .wrapper -->
    </div> <!-- eo #page-header -->

<%= yield %>

</body>
</html>
